---
layout: default
---

{% include htmlhead.html %}

<body>
    <!--    main wrapper starts-->
    <div class="wrapper">
        {% include colorpicker.html %}

        {% include brandheader.html %}

        <!--    body Container Starts-->
        <div class="main-container">
            <div class="contents">

                {% for post in paginator.posts %}
                <!--Card-->
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <a href="{{post.url}}" class="primary-color"><h2>{{ post.title }}</h2></a></div>
                        <p>{{ post.content | strip_html | truncatewords: 70 }}</p>
                        <h5 class="primary-color"><a href="{{ post.url }}">more</a></h5>
                    </div>
                    <div class="card-action">
                        <div class="author">
                            <img src="https://avatars0.githubusercontent.com/u/4047597?v=3&s=128" alt="">
                            <span class="credit">&nbsp; <strong class="primary-color author-name">{{ post.author }}</strong>
                            on {{ post.date | date: "%b %d, %Y" }}</span>
                        </div>
                        <div class="article-tag">
                            <ul>
                                {% for tag in post.tags %}
                                <li><a href="">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Card Ends-->
                {% endfor %}

            </div>
        </div>
        <!--    body Container Ends-->

        <!--        Pagination Starts-->
        <div class="pagination primary-color">
            <ul>
                {% assign quanta = paginator.page | minus: 1 | divided_by: paginator.per_page | plus: 1 %}
                {% assign setcount = paginator.total_pages | divided_by: 5 %}
                {% if {{paginator.total_pages | modulo: 5}} != 0 %}
                    {% assign setcount = setcount | plus: 1 %}
                {% endif %}
                {% assign sp = quanta | minus: 1 | times: 5 | plus: 1 %}
                {% assign ep = quanta | times: 5 %}
                {% if quanta > 1 %}
                <li><a href="/page{{ sp | minus: 1 }}"><i class="fa fa-chevron-left"></i></a></li>
                {% endif %}
                {% for pagenum in (sp..ep) %}
                    {% if pagenum == paginator.page %}
                        <li class="active"><a href="{% if pagenum == 1 %}/{% else %}/page{{pagenum}}{% endif %}" class="primary-background">{{ pagenum }}</a></li>
                    {% else %}
                        <li><a href="{% if pagenum == 1 %}/{% else %}/page{{pagenum}}{% endif %}">{{ pagenum }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if quanta < setcount %}
                <li><a href="/page{{ ep | plus: 1 }}"><i class="fa fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
        <!--        Pagination Ends-->

        {% include footer.html %}
    </div>
    <!--    main wrapper Ends-->

    <!--  Scripts Starts-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/init.js"></script>
    <!--    Scripts Ends-->

</body>

</html>
