<!--        Header Starts-->
<header>
    <div class="brand-container">
        <div class="brand">
            <h1 class="brand-iiitv primary-color">iiitv</h1>
            <h3 class="brand-blog">blog</h3>
        </div>
        <div class="brand-quote">
            <span>A blog Maintained by iiitv Students</span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Archive</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>
<!--        Header Starts-->