<!--       Color Picker Starts-->
<div class="picker-container">
    <div class="color-picker hide-picker">
        <!--               Home Buttton-->
        <div class="home-button"><a href="index.html"><i class="fa fa-home"></i></a></div>

        <ul>
            <li>
                <a href="#" class="picker-toggle"><i class="fa fa-paint-brush"></i></a>
            </li>
        </ul>
        <ul id="picker">
            <li>
                <a href="#" class="cyan" data-color="cyan"></a>
            </li>
            <li>
                <a href="#" class="orange" data-color="orange"></a>
            </li>
            <li>
                <a href="#" class="green" data-color="green"></a>
            </li>
            <li>
                <a href="#" class="pink" data-color="pink"></a>
            </li>
            <li>
                <a href="#" class="blue" data-color="blue"></a>
            </li>
        </ul>
    </div>
</div>
<!--       Color Picker ends-->