<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--  Favicon   -->
    <link rel="shortcut icon" type="favicon/ico" href="favicon.ico"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>{% if page.title == site.title %}{{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="/css/pygments.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <style class="dynamic-style"></style>
    <!-- load default color in case of javascript disabled -->
    <noscript>
        <style>
            .primary-color {
                color: rgb(76, 175, 80) !important;
            }
            .primary-background {
                background-color: rgb(76, 175, 80) !important;
            }
        </style>
    </noscript>
</head>
