---
layout: default
---

{% include htmlhead.html %}

<body id="archive">
    <!--    main wrapper Starts-->
    <div class="wrapper">
        {% include colorpicker.html %}

        <!--       Header Starts-->
        <header class="primary-background">
            <div class="header-container archive-header">
                <div class="title">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="article-tag">
                    <ul>
                    {% if page.tagpage == 1 %}<li><a href="/blog/">All</a></li>{% endif %}
                    {% for tag in site.tags %}
                        <li><a href="/tags.html?{{tag | first}}">{{ tag | first }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </header>
        <!--        Header Ends-->

        <!--    Main Container Starts-->
        <div class="main-container">
            <div class="contents archive-contents">
                {{ content }}
            </div>
        </div>
        <!--        Main Container Ends-->

        <!--        footer Starts-->
        <footer class="primary-background"><i class="fa fa-copyright"></i></footer>
        <!--        footer Ends-->
    </div>
    <!--    main wrapper Ends-->

    <!--  Scripts-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/init.js"></script>
    {% if page.tagpage == 1 %}
    <script>
    if ( window.location.search != "" ){
        var tagname = window.location.search.substring(1);
        $('.tag_'+ tagname).show();
        $('.title h1').text('Tag: ' + tagname);
    }
    </script>
    {% endif %}

</body>

</html>